/* 偽の RTC (vnd,test-rtc) を, alias thermo-rtc に接続する */
/ {
    aliases {
        thermo-rtc = &test_rtc;
    };

    test_rtc: test-rtc {
        compatible = "vnd,test-rtc";
        status = "okay";
    };
};
